body {
  margin: auto;
  font-family: sans-serif;
  color: rgb(53,22,85);
  background-color: rgb(27, 1, 53);
}

section {
  padding: 0;
  overflow-x: hidden;
}

figure {
  display: inline;
  margin: 0;
  padding: 10px 5px 0 10px;
}

h1 {
  margin: 10px 0 10px 0;
  font-size: 4rem;
}

main h3, h4 {
  margin: 0;
}

a { color: cornflowerblue; }

a:focus,
a:hover {
  color: hotpink;
}

a:visited { color: crimson; }

.text-to-shift { padding-left: 2.5em; }

.bordered {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(53,22,85);
  overflow: hidden;
}

.columned {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

header {
  height: fit-content;
  margin-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(229,193,240);
}

header img { width: 30%; }

.person {
  display: inline-block;
  vertical-align: top;
}

main {
  display: inline-block;
  width: calc(69% - 20px);
  margin: 10px 10px 10px 0;
  padding: 5px;
  background-color: rgb(252,209,216);
}

main h2 { 
  margin: 0;
  padding-left: 5px; 
}

main section h2 {
  color: rgb(229, 193, 240);
  background-color: rgb(27, 1, 53);
}

.skills {
  width: 27%;
}

pre {
  padding-left: 10px;
  background-color: black;
  overflow: auto;
}

code {
  font-size: 0.9em;
  color: white;
}

#example-of-code { background-color: rgb(231,206,231); }

aside {
  float: left;
  width: 31%;
  color: rgb(229,193,240);
}

aside section {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(229,193,240);
}

#contacts ul {
  padding: 0;
  list-style-type: none;
}

#education article {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: justify;
}

footer { background-color: rgb(231,206,231); }

footer img { height: 50px; }

footer p {
  margin-top: 0;
  padding-top: 10px;  
}

.footer { margin-left: 20px; }