body{
  text-align: center;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

.text-to-shift{
  margin-left: 2.5em;
}

#contacts{
  text-align: left;
  margin: auto;
  width: 50%;
}

#short-description{
  text-align: left;
  margin: auto;
  width: 50%;
}

#skills{
  text-align: left;
  margin: auto;
  width: 50%;
}

#experience{
  text-align: left;
  margin: auto;
  width: 50%;
}
#education{
  text-align: left;
  margin: auto;
  width: 50%;
}

#english-level{
  text-align: left;
  margin: auto;
  width: 50%;
}